html {
    font-size: 150%;
}

html, body, div {
    margin: 0px;
    padding: 0px;
}

.hidden {
    display: none !important;
}

input, textarea, button {
    display: block;
    font-size: inherit;
}

form div {
    margin-bottom: 1em;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.correct {
    background-color: lightgreen;
}

.incorrect {
    background-color: lightpink;
}

.warning {
    background-color: lightyellow;
}

#scoreLab {
    font-weight: bold;
    background-color: darkgoldenrod;
    color: lightgoldenrodyellow;
    padding: 0.5em;
    text-align: center;
}

body {
    background-color: coral;
    text-align: center;
}

.content {
    background-color: white;
    display: inline-block;
    text-align: left;
    padding: 1em;
}
